
/* reset */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html, body {
    background: #000;
    height: 100vh; 
    width: 100vw;
    display: grid;
    place-items: center;
}


.game-board {
    background: #000;
    color: #fff;
    font-family: 'consolas';
    height: 95%;
    width: 90%;
}

.game-board__menu {
    border: 1px solid #9f9a9a;
    padding: .5em;

    & ul 
    {
        display: flex;
        justify-content: space-between;
    }
}
