
/* Maxwell Easter : March 12, 2025 */

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}


body { 
    background-color: #141414;
    overflow: hidden;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
}


/* --- chessboard --- */
.chessboard {
    display: grid;
    grid-template-columns: repeat(8, 60px);
    grid-template-rows: repeat(8, 60px);
}

.square {
    width: 60px;
    height: 60px;
    transition: background-color 0.3s ease-in;
    
    &:hover {
        background-color: #eeeb3d;
    }
}

.black {
    background-color: #769656;
}
.white {
    background-color: #eeeed2;
}